@{
    ViewData["Title"] = "Kwisnaldo's 4.0";
}
<img src="~/images/kwis/FacebookBannerKwis.jpg" class="img-rounded img-responsive" alt="FacebookBanner"> 
<h4><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Wat is de Kwisnaldo's?</h4>
<p>Na het overweldigende succes van de drie voorbije jaren, kunnen we jullie met plezier uitnodigen voor de derde editie van KWISNALDO'S. Ditmaal verwachten we jullie op zaterdag 21 april 2018 in Zaal Geitenhove in Hooglede voor een spannende en supergezellige quiz! De Krisnaldo's staan opnieuw klaar om jullie te voorzien van een onvergetelijke avond waarbij spelplezier en spanning hand in hand gaan. Begin dus alvast de kranten te doorsnuffelen en haal die atlas nog eens van onder het stof. Wij zorgen ervoor dat iedereen in de prijzen valt en er prachtige hoofdprijzen te winnen vallen.</p>
<p>Geen geoefende quizzer? Geen probleem! Ook dit jaar is er een zuipbeker voorzien zodat ploegen met andere talenten dan quizzen ook aan hun trekken komen. Geen enkele reden dus om op deze zaterdagavond thuis te blijven en niet te komen naar onze vierde editie van De Kwisnaldo's!</p>
<p>De opbrengst van de avond wordt gebruikt om de kosten te dekken van het voetbalplein, betalen van de scheidsrechters, verzekeringen, aankoop van ballen, truitjes, enz. We hopen op jullie talrijke aanwezigheid en zijn alvast benieuwd naar welke ploeg vanaf die dag een jaar lang de titel mag dragen van de enige echte Kwisnaldo’s 2018!</p>
<h4><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Locatie</h4>
<p>Zaal Geitenhove</p>
<p>Amersveldestraat 55</p>
<p>8830 Hooglede</p>
<h4><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Datum</h4>
<p>Zaterdag 21 april 2018</p>
<p>Opening van de deuren: 19u00</p>
<p>Start van de quiz: 20u00 (We vragen om 15 minuten voor aanvang aanwezig te zijn om de vlotheid van de quiz te bevorderen). </p>
<h4><i class="fa fa-eur" aria-hidden="true"></i>&nbsp;Prijs</h4>
<p>Een team bestaat uit maximaal 5 deelnemers. De kostprijs per team bedraagt € 20. </p>
<h4><i class="fa fa-group" aria-hidden="true"></i>&nbsp;Hoe kan ik inschrijven?</h4>   
<p>Inschrijven kan door een teamnaam, aantal teamleden en GSM-nummer van een verantwoordelijke door te mailen naar dekrisnaldos@gmail.com. Je inschrijving is pas definitief wanneer je een bevestigingsmail ontvangt. Wees er snel bij, want het maximum aantal teams is 38.</p>
<h4><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;<a asp-area="" asp-controller="Albums" asp-action="Index">Bekijk de foto's van de voorbije drie jaar via deze link</a></h4>

