@{
    ViewData["Title"] = "Links";
}
<p>Hieronder vindt u enkele links, handig voor iedere Krisnaldo-fan:</p>
<h4><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.facebook.com/DeKrisnaldos/" target="_blank">Onze Facebook-pagina</a></h4>
<h4><i class="fa fa-youtube-play" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.youtube.com/user/DeKrisnaldos" target="_blank">Ons Youtube-kanaal</a></h4>
<h4><i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.instagram.com/de_krisnaldos/" target="_blank">Onze Instagram-pagina</a></h4>
<h4><i class="fa fa-futbol-o" aria-hidden="true"></i>&nbsp;&nbsp;<a href="http://rlv.be" target="_blank">De website van het Roeselaars Liefhebbers Verbond</a></h4>




