@{
    ViewData["Title"] = "Uitleg over Azure-account";
}
<h2>Mijn Azure-account</h2>
<p>Ik heb al geëxperimenteerd met Microsoft Azure. Dit is een screenshot van de resources die ik gebruikt heb. Nu kan ik dit niet meer gebruiken omdat mijn gratis proefabonnement verlopen is. Voor een hobbyist zijn de services van Microsoft Azure vrij duur. Ik heb nu een betalende account op SmarterASP waar ik ook via Visual Studio mijn webapplicatie kan deployen.</p>
<img src="~/images/azure/almijnresources.PNG" class="img-thumbnail center-block" alt="Alle Resources">
<p>Ook hostte ik een webservice via deze account, die ik succesvol aanriep vanuit deze applicatie. De code van mijn webservice kan je nog steeds downloaden via <a target="_blank" href="http://github.com/judochampion">mijn GitHub-pagina</a>. Ter illustratie vind je hieronder de WSDL.</p>
<img src="~/images/azure/wsdl.PNG" class="img-thumbnail center-block" alt="Mijn WSDL">