@{
    ViewData["Title"] = "Relationele Database";
}
<h2>Relationele Database</h2>
<p>De data komt uit een database, waarvan ik de relaties op onderstaande manier heb opgezet. Deze database wordt <i>geseed</i> met XML-bestanden telkens wanneer de applicatie opnieuw opstart op de server.</p>
<img src="~/images/dbdiagrams/RelationalDBOfData.png" class="img-thumbnail center-block" alt="SchemaRelationeleDatabase" width="304">