@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

<form asp-action="UploadFile"
      asp-controller="Sponsor"
      method="post"
      enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <p></p>
    <input type="submit" value="Upload Selected Files" />
</form>
<hr />
<b>Resultaat:</b>
<p>
    @ViewBag.Message
</p>
<hr/>
<a asp-controller="Sponsor" asp-action="Index">Bekijk alle sponsors</a>