{
    ViewData["Title"] = "Not Found";
}
<h2>Foute link</h2>
<p>De link die je hebt gevormd leidt nergens naar, zelfs Ronaldo weet niet wat ermee te doen. Mogelijks heb je een verkeerde albumnaam, of een matchdatum die niet bestaat... Ga terug naar de <a asp-area="" asp-controller="Sponsor" asp-action="Index">de home-pagina</a>
    <img src="~/images/extra/notfoundronaldo.jpg" class="img-rounded img-responsive" alt="RonaldoNotFound">